<a href="https://colab.research.google.com/github/Cognitive-Hamza/smarter-way-to-learn-python/blob/main/18_Dec_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#for

In [ ]:
for row in range(3):
    for col in range(2):
        print("*", end=" ")
    print()

* *
* *
* *

In [ ]:
for row in range(3):
    for col in range(4):
        print("*", end=" ")
    print()

* * * *
* * * *
* * * *

In [ ]:
for num in range(3):
    print(num)

0
1
2

In [ ]:
 # For loop
# Example 1:

words = ['one', 'two', 'three', 'four', 'five']

for ali in words:
    print(ali)

one
two
three
four
five

In [ ]:
print(len(words))

5

In [2]:
# Calculate the average of list of numbers
# Example 2:

numbers = [10, 20, 30, 40, 50]

range(10)

[0,1,2,3,4]

# definite iteration
# run loop 5 times because list contains 5 items
sum = 0
for i in numbers:
    sum = sum + i


list_size = len(numbers)
average = sum / list_size
print(average)

30.0

In [6]:
# How range works in Python?
# Example 3:

# empty range
print(list(range(0)))

# using range(stop)
print(list(range(10)))

# using range(start, stop)
print(list(range(1, 11)))

[]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Example 4:

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [8]:
# Example 5:

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
# Example 6:

for i in range (2, 12,2):  # beginning 2 with distance of 2 and stop before 12
    print (i)

2
4
6
8
10

In [11]:
# Example 7:

for i in range (3, 16,3):  # beginning 2 with distance of 2 and stop before 12
    print (i)

3
6
9
12
15

In [ ]:
# printing a series of numbers using for and range
# Example 8:

print("Case 1:")
for i in range(5):  # Print numbers from 0 to 4
    print (i)

print("Case 2:")
for i in range(5, 10):  # Print numbers from 5 to 9
    print (i)

print("Case 3:")
for i in range(5, 10, 2):  # Print numbers from 5 with distace/step 2 and stop before 10
    print (i)