<a href="https://colab.research.google.com/github/Cognitive-Hamza/smarter-way-to-learn-python/blob/main/18_Dec_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#for

In [ ]:
for row in range(3):
    for col in range(2):
        print("*", end=" ")
    print()

* *
* *
* *

In [ ]:
for row in range(3):
    for col in range(4):
        print("*", end=" ")
    print()

* * * *
* * * *
* * * *

In [ ]:
for num in range(3):
    print(num)

0
1
2

In [ ]:
 # For loop
# Example 1:

words = ['one', 'two', 'three', 'four', 'five']

for ali in words:
    print(ali)

one
two
three
four
five

In [ ]:
print(len(words))

5

In [2]:
# Calculate the average of list of numbers
# Example 2:

numbers = [10, 20, 30, 40, 50]

range(10)

[0,1,2,3,4]

# definite iteration
# run loop 5 times because list contains 5 items
sum = 0
for i in numbers:
    sum = sum + i


list_size = len(numbers)
average = sum / list_size
print(average)

30.0

In [6]:
# How range works in Python?
# Example 3:

# empty range
print(list(range(0)))

# using range(stop)
print(list(range(10)))

# using range(start, stop)
print(list(range(1, 11)))

[]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Example 4:

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [8]:
# Example 5:

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
# Example 6:

for i in range (2, 12,2):  # beginning 2 with distance of 2 and stop before 12
    print (i)

2
4
6
8
10

In [11]:
# Example 7:

for i in range (3, 16,3):  # beginning 2 with distance of 2 and stop before 12
    print (i)

3
6
9
12
15

In [14]:
# printing a series of numbers using for and range
# Example 8:

print("Case 1:")
for i in range(3):  # Print numbers from 0 to 2
    print (i)

print("Case 2:")
for i in range(5, 13):  # Print numbers from 5 to 12
    print (i)

print("Case 3:")
for i in range(5, 20, 4):  # Print numbers from 5 with distace/step 2 and stop before 10
    print (i)

Case 1:
0
1
2
Case 2:
5
6
7
8
9
10
11
12
Case 3:
5
9
13
17

In [16]:
# Print all even and odd numbers
# Example 9:

for i in range(1, 21):
    if i % 2 == 0:
        print('Even Number:', i)
    else:
        print('Odd Number:', i)

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10
Odd Number: 11
Even Number: 12
Odd Number: 13
Even Number: 14
Odd Number: 15
Even Number: 16
Odd Number: 17
Even Number: 18
Odd Number: 19
Even Number: 20

In [18]:
# Example: 10
friends=["shaheer","ali" , "afnan" , "ahmad", "bilal","urabah",'yasir','hashir','omer']
ans="yes"
t=0
while ans == "yes" :
    t=0
    x=input("please tell your name :")
    for z in range (9):
        n=friends[z]
        if x==n:
            print("hello my friend")
            t=1

    if t==0:
        print ("i don't know you")
    ans=input("do you want to continue? (input 'yes' to continue) : ")
print("the program ends here")

please tell your name :ali
hello my friend
do you want to continue? (input 'yes' to continue) : yes
please tell your name :ahmad
hello my friend
do you want to continue? (input 'yes' to continue) : n
the program ends here

In [19]:
for i in range(1,11):
  print(i * 2)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Print Floyd Triangle with user input
# Example 1:

ran = input("How many rows? ")

#
ran = int(ran)
k = 1
for i in range(1, ran+1):
    for j in range(1, i+1):
        print("*", end=" ")
        k = k + 1
    print()