<a href="https://colab.research.google.com/github/Cognitive-Hamza/smarter-way-to-learn-python/blob/main/23_Dec_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

for continue..

In [ ]:
# Print Reverse Floyd Triangle
# Example 12:

for i in range (1,9):            # rows from 1 to 5
    for j in range (8,i-1,-1):   # column range(5,0,-1) = 54321
        print ("*", end=" "),
    print (" ")

* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
# regular `for` loop code
# Example 12:

first = [3, 5, 7]
second = [30, 60, 90]
final = []
for i in first:

    for j in second:

        final.append(i*j)
print(final)

[90, 180, 270, 150, 300, 450, 210, 420, 630]

In [4]:
# regular `for` loop code
# Example 13:

first = [3, 6, 9]
second = [30, 60, 90]
final1 = []
for i in first:
    final1.append(i)
for j in second:
    final1.append(j)
print(final1)

[3, 6, 9, 30, 60, 90]

The enumerate() function is useful when we wanted to access both value and its index number or any sequence such as list or string.

In [11]:
# Print elements of the list with its index number using the `enumerate()` function
# Example 14:

# In this program, the for loop iterates through the list and displays the
# elements along with its index number.

numbers = [4, 2, 5, 7, 8]
for i ,v in enumerate(numbers):
    print('Numbers[', i, '] =', v)

Numbers[ 0 ] = 4
Numbers[ 1 ] = 2
Numbers[ 2 ] = 5
Numbers[ 3 ] = 7
Numbers[ 4 ] = 8

In [15]:
# Printing the elements of the list with its index number using the `range()` function
# Example 15:

numbers = [1, 2, 4, 6, 8, 10, 11, 16]
size = len(numbers)
for i in range(size):
    print('Index:', i, " ", 'Value:', numbers[i])

Index: 0   Value: 1
Index: 1   Value: 2
Index: 2   Value: 4
Index: 3   Value: 6
Index: 4   Value: 8
Index: 5   Value: 10
Index: 6   Value: 11
Index: 7   Value: 16

Iterating srings

In [14]:
# For loop with string
# Example 16:

# Method 1:
language = 'Python'
for letter in language:
    print(letter)

# Method 2: using range() function

for i in range(len(language)):
    print(language[i])

P
y
t
h
o
n
P
y
t
h
o
n

In [16]:
# Example 17: Access all characters of a string

name = "Alan"
for i in name:
    print(i, end=' ')

A l a n