<a href="https://colab.research.google.com/github/Cognitive-Hamza/smarter-way-to-learn-python/blob/main/23_Dec_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

for continue..

In [ ]:
# Example 12:
# Print Reverse Floyd Triangle


for i in range (1,9):            # rows from 1 to 5
    for j in range (8,i-1,-1):   # column range(5,0,-1) = 54321
        print ("*", end=" "),
    print (" ")

* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
# Example 13:
# regular `for` loop code

first = [3, 5, 7]
second = [30, 60, 90]
final = []
for i in first:

    for j in second:

        final.append(i*j)
print(final)

[90, 180, 270, 150, 300, 450, 210, 420, 630]

In [ ]:
# Example 14:
# regular `for` loop code

first = [3, 6, 9]
second = [30, 60, 90]
final1 = []
for i in first:
    final1.append(i)
for j in second:
    final1.append(j)
print(final1)

[3, 6, 9, 30, 60, 90]

The enumerate() function is useful when we wanted to access both value and its index number or any sequence such as list or string.

In [ ]:
# Example 15:
# Print elements of the list with its index number using the `enumerate()` function

# In this program, the for loop iterates through the list and displays the
# elements along with its index number.

numbers = [4, 2, 5, 7, 8]
for i ,v in enumerate(numbers):
    print('Numbers[', i, '] =', v)

Numbers[ 0 ] = 4
Numbers[ 1 ] = 2
Numbers[ 2 ] = 5
Numbers[ 3 ] = 7
Numbers[ 4 ] = 8

In [ ]:
# Example 16:
# Printing the elements of the list with its index number using the `range()` function

numbers = [1, 2, 4, 6, 8, 10, 11, 16]
size = len(numbers)
for i in range(size):
    print('Index:', i, " ", 'Value:', numbers[i])

Index: 0   Value: 1
Index: 1   Value: 2
Index: 2   Value: 4
Index: 3   Value: 6
Index: 4   Value: 8
Index: 5   Value: 10
Index: 6   Value: 11
Index: 7   Value: 16

Iterating srings

In [ ]:
# Example 17:
# For loop with string

# Method 1:
language = 'Python'
for letter in language:
    print(letter)

# Method 2: using range() function

for i in range(len(language)):
    print(language[i])

P
y
t
h
o
n
P
y
t
h
o
n

In [ ]:
# Example 18:
# Access all characters of a string

name = "Alan"
for i in name:
    print(i, end=' ')

A l a n

In [ ]:
# Example 19:
# Iterate string in reverse order


name = "Alan"
for i in name[::-1]:
    print(i, end=' ')

n a l A

In [ ]:
# Example 20:
# Iterate over words in a sentence using the `split()` function.

dialogue = "Remember, hope is a good thing, maybe the best of things, and no good thing ever dies"
# split on whitespace
for word in dialogue.split():
    print(word)

Remember,
hope
is
a
good
thing,
maybe
the
best
of
things,
and
no
good
thing
ever
dies

In [ ]:
# Example 21:

for ch in 'abc':
    print(ch)
total = 0
for i in range(5):  # from 0 to 4
    total += i  # total = 0+1+2+3+4 = 10
for i,j in [(1,2),(3,1)]:  # [(1),(3)]
    total += i**j  # total = 1+3 = 4
print("total =",total)

a
b
c
total = 14

In [ ]:
# Example 22:
# Iterate over a list
# Method 1

numbers = [1, 2, 3, 6, 9]
for num in numbers:
    print(num)

1
2
3
6
9

In [ ]:
# Example 23:
# Iterate over a list
# Method 2 (list comprehension)

numbers = [1, 2, 3, 6, 9]
[print(i) for i in numbers]

In [ ]:
# Example 24:
# Iterate over a list using a for loop and range.

numbers = [1, 2, 3, 6, 9]
size = len(numbers)
for i in range(size):
    print(numbers[i])

1
2
3
6
9

In [ ]:
# Example 25:
# printing elements of a list using for loop

even_numbers = [2, 4, 6, 8, 10]
for i in even_numbers:
  print(even_numbers)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [ ]:
# Example 26:
# printing the elements of a list using for loop

list = [65, "Wazzup", 10.01]
for i in list:
    print(i)

65
Wazzup
10.01

In [ ]:
# Example 27:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [2, 5, 1, 8, 4, 45, 5, 10, 11]  # list with 9 elements

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

print("The sum is", sum)

The sum is 91

In [ ]:
# Example 28:
# Calculate the square of each number using for loop.

numbers = [1, 2, 3, 4, 5]
# iterate over each element in list num
for i in numbers:
    # ** exponent operator
    square = i ** 2
    print("Square of:", i, "is:", square)

Square of: 1 is: 1
Square of: 2 is: 4
Square of: 3 is: 9
Square of: 4 is: 16
Square of: 5 is: 25

In [ ]:
# Example 29:
# Printing a list using range function

list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]  # list with 3 elements
for list1 in list_of_lists:
        print(list1)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
# Example 30:
# Printing a list using range function

color = ['Green', 'Pink', 'Blue']  # list with total 3 elements
print(len(color))  # print length of color
for i in range(len(color)):
    print(color[i])

3
Green
Pink
Blue

In [ ]:
# Example 31:
# For loop with tuple

numbers = (0, 1, 2, 3, 4, 5)
for number in numbers:
    print(number)

0
1
2
3
4
5

In [ ]:
# Example 32:
# Access only the keys of the dictionary.

dict1 = {"Antibiotics": "Penicillin", "Inventor": "Fleming", "Year": 1928}
for key in dict1.values():
    print(key)

Penicillin
Fleming
1928

In [ ]:
# Example 33:
# Iterate keys and values of the dictionary

dict1 = {"Vaccine": "Polio", "Inventor": "Salk", "Year": 1953}
for key in dict1:
    print(key, "->", dict1[key])

Vaccine -> Polio
Inventor -> Salk
Year -> 1953

In [ ]:
# Example 34:
# For loop with dictionary
#Looping through a dictionary gives you the key of the dictionary.

person = {
    'first_name':'Milaan',
    'last_name':'Parmar',
    'age':96,
    'country':'Finland',
    'is_marred':True,
    'skills':['Python', 'Matlab', 'R', 'C', 'C++'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}
for key in person:
    print(key)


for key, value in person.items():
    print(key, value) # this way we get both keys and values printed out

In [1]:
# Example 35:
# For loop with set

mix_fruits = {'Banana', 'Apple', 'Mango', 'Orange', 'GUava', 'Kiwi', 'Grape'}
for fruits in mix_fruits:
    print(fruits)

Kiwi
Apple
Grape
GUava
Mango
Orange
Banana