<a href="https://colab.research.google.com/github/Cognitive-Hamza/smarter-way-to-learn-python/blob/main/27_Nov_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#  format of the command: list[start : stop : step]
cities = ["Peshawar", "Multan", "Lahore", "Quetta", "Islamabad", "Karachi"]
print(cities[::-1])

['Karachi', 'Islamabad', 'Quetta', 'Lahore', 'Multan', 'Peshawar']

## chp16 Lists: Adding and changing elements

Append: this function allows us to add new things of any data type at the end of a list

In [ ]:
cities = ["Peshawar", "Multan", "Lahore", "Quetta", "Islamabad", "Karachi"]

In [ ]:
'''above i have assigned values to the list cities
now i will append new values to that list'''
cities.append("Hyderabad")
print(cities)

['Peshawar', 'Multan', 'Lahore', 'Quetta', 'Islamabad', 'Karachi', 'Hyderabad']

In [ ]:
print(cities[4])

Islamabad

In [ ]:
'''another way to append is:'''
cities = cities + ["Swat"]
print(cities)

['Peshawar', 'Multan', 'Lahore', 'Quetta', 'Islamabad', 'Karachi', 'Swat']

In [ ]:
'''insert using index'''
cities.insert(0, "Sialkot")
print(cities)
'''this used the index and printed the new city in the index of 0 or made it the first in list'''

['Sialkot', 'Peshawar', 'Multan', 'Lahore', 'Quetta', 'Islamabad', 'Karachi', 'Swat']

## chp17 Lists: Taking slices out of them

In [ ]:
'''for example:'''
print(cities[2:7])

['Multan', 'Lahore', 'Quetta', 'Islamabad', 'Karachi']

In [ ]:
#this is city[2] onward
smaller_list_of_cities = cities[2:]
print(smaller_list_of_cities)

['Multan', 'Lahore', 'Quetta', 'Islamabad', 'Karachi', 'Swat']

In [ ]:
#this everything before city[5]
smaller_list_of_cities = cities[:5]
print(smaller_list_of_cities)

['Sialkot', 'Peshawar', 'Multan', 'Lahore', 'Quetta']

## chp18 Lists: Deleting and removing elements

In [ ]:
# delete
del cities[2]
print(cities)

['Sialkot', 'Peshawar', 'Lahore', 'Quetta', 'Islamabad', 'Karachi', 'Swat']

In [ ]:
# second method
cities.remove("Karachi")
print(cities)

['Sialkot', 'Peshawar', 'Lahore', 'Quetta', 'Islamabad', 'Swat']

## chp19 Lists: popping elements

In [ ]:
# in remove/delete we completely remove elements permanently, pop removes it from the current list but saves it for later when the index is specified
cities = ["Peshawar", "Multan", "Lahore", "Quetta", "Islamabad", "Karachi"]
karachi_index = cities.index("Karachi") # Find the index of 'Karachi'
visited = cities.pop(karachi_index) # Pop the city at that index

print(f"{cities} are to be visited")
print(f"{visited} are visited")
# The 'f' before the opening quotation mark in f"{cities} are to be visited" indicates an f-string (formatted string).

['Peshawar', 'Multan', 'Lahore', 'Quetta', 'Islamabad'] are to be visited
Karachi are visited

## chp20 Tuples

In [ ]:
'''Tuples are similar to lists but we cannot be changed which means that we cannot alter them afterwards after they are created.
Parentheses are used rather than square brackets.'''
tup = (1, 2, 9)
print(type(tup), tup)

<class 'tuple'> (1, 2, 9)

In [ ]:
tup = (1)
print(type(tup), tup)

<class 'int'> 1

as u can see, the data type shown is int, this happens when there is only one value in the tuple, python then considers it as a normal variable. To change this we it is nessacary we add atleast one comma in the tuple

In [ ]:
tup = (1,)
tup[0] = 5
# tried to change the tuple so error is shown
print(type(tup), tup)

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup = [1]
tup[0] = 4
# now 'tup' is list which can be changed we can identify this by looking at the square brackets
print(type(tup), tup)

<class 'list'> [4]